# Run `cp sample.env .env` to make a copy of this file and then update the
# `psql` variables as defined in https://www.postgresql.org/docs/12/libpq-envars.html
PGHOST=
PGHOSTADDR=192.168.2.??
PGPORT=5432
PGDATABASE=gitlabhq_context
PGUSER=gitlab_user
PGPASSWORD=*********
PGOPTIONS=--client-min-messages=warning

# This the primary GitLab production schema where namespaces, projects, etc. are found
SQLACTL_GITLAB_CANONICAL_SCHEMA_NAME=public

# This the GitLab enhancement schema where we will store copies of repo content
SQLACTL_GITLAB_ENHANCE_SCHEMA_NAME=stateless_enhance_service_gitlab
