# *.env will contain usernames and passwords so don't let Git track it
# *.env.example is tracked to provide examples to copy/paste from
*.env

# CSV files are imported into the database and shouldn't be tracked
*.csv