# Run `cp gitlab-project-repo-assets.env.example gitlab-project-repo-assets.env` 
# to make a copy of this file and then update the `psql` variables as defined 
# in https://www.postgresql.org/docs/12/libpq-envars.html
PGHOST=
PGHOSTADDR=192.168.2.??
PGPORT=5432
PGDATABASE=gitlabhq_context
PGUSER=gitlab_user
PGPASSWORD="*********"
PGOPTIONS="--client-min-messages=warning"

# Any PostgreSQL schema to store copies of repo content (tables, views, etc.)
SQLACTL_GITLAB_PROJECT_REPO_ASSETS_SCHEMA_NAME=stateless_enhance_service_gitlab
